<a href="https://colab.research.google.com/github/titicacatiticaca/thi_INFO5731_Fall2021/blob/main/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [8]:
# Your code here
import random
mylist = []
for n in range(12):
  n = random.randint(1,100)
  mylist.append(n)

# sort the list in ascending order and print out
mylist.sort()
print("\n- The ascending list of 12 numbers in between 1 and 100: ")
for i in range(len(mylist)):
  print(mylist[i], end = " ")

# sort the list in descending order and print out
mylist.sort(reverse = True)
print("\n- The descending list of 12 numbers in between 1 and 100: ")
for i in range(len(mylist)):
  print(mylist[i], end = " ")

# the average for the group and print it out  
average = round((sum(mylist) / len(mylist)),2)
print("\n- The average for the group: ", average)

- The ascending list of 12 numbers in between 1 and 100:
9 11 15 20 35 46 46 50 65 66 68 85
- The descending list of 12 numbers in between 1 and 100:
85 68 66 65 50 46 46 35 20 15 11 9
- The average for the group:  43.0

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [10]:
# Your code here
# function to split a sentence into list of words
def convert(lst):
    return ([i for item in lst for i in item.split()])

(1) Ask the user to enter two sentences.

In [11]:
# Ask the user to enter two sentences
sen1 = input("Please enter the first sentence: ")
sen2 = input("Please enter second sentence: ")

Please enter the first sentence: Then you show your little light: Twinkle; twinkle, all the night.
Please enter second sentence: Twinkle, twinkle, little star: "How I wonder what you are!"

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence.

In [24]:
# Make each sentence into a list
list1 = []
list1.append(sen1)

list2 = []
list2.append(sen2)

# split a sentence into list of words, using function convert
cvt_list1 = convert(list1)
cvt_list2 = convert(list2)

# print out 2 lists of words
print("1st sentence: ", cvt_list1)
print("2nd sentence: ", cvt_list2)

1st sentence:  ['Then', 'you', 'show', 'your', 'little', 'light:', 'Twinkle;', 'twinkle,', 'all', 'the', 'night.']
2nd sentence:  ['Twinkle,', 'twinkle,', 'little', 'star:', '"How', 'I', 'wonder', 'what', 'you', 'are!"']

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

In [22]:
# using splitted sentences to compare and using set() function to find the common words between 2 sentences
common = set(cvt_list1).intersection(set(cvt_list2))
common

{'little', 'twinkle,', 'you'}

(4) Remove any punctuation from the sentence and print it back out.

In [25]:
# function to remove punctuations in sentence
def remove_punc(sen):
  # initializing punctuations
  punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
  for i in sen:
    if i in punc:
      sen = sen.replace(i, "")
  return sen
 
# printing result
print("The first sentence after punctuation filter :", remove_punc(sen1))
print("The second sentence after punctuation filter :", remove_punc(sen2))

The first sentence after punctuation filter : Then you show your little light Twinkle twinkle all the night
The second sentence after punctuation filter : Twinkle twinkle little star How I wonder what you are

(5) Count the number of vowels in the sentences.

In [30]:
# function to count the number of each vowels
def count_vow(sentence):
  # string of vowels
  vowels = 'aeiou'

  # make it suitable for caseless comparisions
  sentence = sentence.casefold()

  # make a dictionary with each vowel a key and value 0
  count = {}.fromkeys(vowels,0)

  # count the vowels
  for char in sentence:
    if char in count:
       count[char] += 1

  return count

In [31]:
print("The number of each vowel in 1st sentence = ", count_vow(sen1))
print("The number of each vowel in 2nd sentence = ", count_vow(sen2))

The number of each vowel in 1st sentence =  {'a': 1, 'e': 5, 'i': 5, 'o': 3, 'u': 2}
The number of each vowel in 2nd sentence =  {'a': 3, 'e': 5, 'i': 4, 'o': 3, 'u': 1}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [ ]:
# Your code here
#impotr math package to use math.pi for the value of PI 
import math

print("r \t V")

for r in range(1,10):
  #calculate the volume of sphere
  V = (4/3)*math.pi*pow(r,3)
  print(r, "\t", V)

r 	 V
1 	 4.1887902047863905
2 	 33.510321638291124
3 	 113.09733552923254
4 	 268.082573106329
5 	 523.5987755982989
6 	 904.7786842338603
7 	 1436.7550402417319
8 	 2144.660584850632
9 	 3053.6280592892786

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731-fall2021/blob/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731-fall2021/blob/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [2]:
# Your code here
from google.colab import files
uploaded = files.upload()

import pandas as pd
import io
  
df = pd.read_csv(io.BytesIO(uploaded['Assignment1_denton_housing.csv']))
df.head(5)

Saving Assignment1_denton_housing.csv to Assignment1_denton_housing.csv

   year             title_field  value
0  2014     Total Housing Units  49109
1  2014    Vacant Housing Units   2814
2  2014  Occupied Housing Units  46295
3  2013     Total Housing Units  47888
4  2013    Vacant Housing Units   4215

(1) Calculate the difference in the number of Occupied Housing Units from year to year and print it.

In [3]:
# create a subset for only "Occupied Housing Units"
occupied = df[df["title_field"] == "Occupied Housing Units"]
occupied.head()

    year             title_field  value
2   2014  Occupied Housing Units  46295
5   2013  Occupied Housing Units  43673
8   2012  Occupied Housing Units  42108
11  2011  Occupied Housing Units  40704
14  2010  Occupied Housing Units  41007

In [4]:
# Finding difference between years and assign to list
diff_occupied = list(occupied["value"].diff())

# drop NaN value in list
diff_occupied = [i for i in diff_occupied if pd.isnull(i) == False]

# sorted the list by ascending order and print out
print(sorted(diff_occupied))

[-5091.0, -2622.0, -1565.0, -1404.0, 303.0, 795.0]

(2) For all the years, calculate the percentage of housing units which are vacant an occupied.

In [5]:
# create a subset for only "Vacant Housing Units", ascending order by year  
vacant = df[df["title_field"] == "Vacant Housing Units"].sort_values(by = ["year"])

# occupied dataframe with ascending order by year
occupied = occupied.sort_values(by = ["year"])

# create new dataframe
newdf = pd.DataFrame()
Years = sorted(list(df["year"].unique()))

# add columns to new dataframe
newdf["Year"] = Years
newdf["Vacant House"] = vacant["value"].values
newdf["Occupied House"] = occupied["value"].values
newdf["% Vacant"] = 100 * newdf["Vacant House"]/(newdf["Vacant House"] + newdf["Occupied House"]) 
newdf["% Occupied"] = 100 * newdf["Occupied House"]/(newdf["Vacant House"] + newdf["Occupied House"]) 

# the final
newdf

   Year  Vacant House  Occupied House   % Vacant  % Occupied
0  2008          4483           36711  10.882653   89.117347
1  2009          3583           35916   9.071116   90.928884
2  2010          3635           41007   8.142556   91.857444
3  2011          4213           40704   9.379522   90.620478
4  2012          3013           42108   6.677600   93.322400
5  2013          4215           43673   8.801788   91.198212
6  2014          2814           46295   5.730111   94.269889

(3) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied.

In [6]:
# create new dataframe to save the valued and years in which the highest number of housing units were vacant and occupied
max_no_housing = pd.DataFrame()

max_no_housing = vacant[vacant.value == vacant.value.max()]
max_occupied = occupied[occupied.value == occupied.value.max()]

# change the columns order by requirement output
max_no_housing = max_no_housing.append(max_occupied, ignore_index = True)
max_no_housing

   year             title_field  value
0  2008    Vacant Housing Units   4483
1  2014  Occupied Housing Units  46295

(4) Calculate the harmonic mean of the total housing units and print it out.

In [7]:
import statistics

# create s subset for "Total Housing Units"
totals = df[df["title_field"] == "Total Housing Units"]

# calculate harmonic mean using harmonic_mean() function from the statistics module
har_mean = statistics.harmonic_mean(totals.value)
har_mean

44398.28543969185