<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/01/2021, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [4]:
# write your answer here: 

x = input("Enter a string: ")
count = 0
for char in x:
    count += 1

print("The length of string: ", count)

Enter a string: This is the first In-class-exercise.
The length of string:  36

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [24]:
# write your answer here
x = input("Enter a string: ")
d = {}
for i in x:
    keys = d.keys()
    if i in keys:
        d[i] += 1
    else:
        d[i] = 1
print("the number of characters in a string:", d)

Enter a string: In-class-exercise
the number of characters in a string: {'I': 1, 'n': 1, '-': 2, 'c': 2, 'l': 1, 'a': 1, 's': 3, 'e': 3, 'x': 1, 'r': 1, 'i': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [22]:
# write your answer here
list_num = input("Enter a list of number (seperated by space): ")
list  = list_num.split()
sum_items = 0
for num in list:
    sum_items += int(num)
print("Total of all items in a list: ", sum_items)

Enter a list of number (seperated by space): 1 3 5 -9 41 -5
Total of all items in a list:  36

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [28]:
# write your answer here
x = input("Enter a string: ")
char = x[0]
length = len(x)  
x = x.replace(char, '$')  
x = char + x[1:]  
print("Expected result: ", x)

Enter a string: in-class-exercise
Expected result:  in-class-exerc$se

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [33]:
# write your answer here
a = input("Enter a parameter a: ")
b = input("Enter a parameter b: ")

S = 3.14 * (1 + int(a)/int(b))**3

print("S = 3.14*(1+a/b)^3 = ", S)

Enter a parameter a: 6
Enter a parameter b: 9
S = 3.14*(1+a/b)^3 =  14.537037037037033

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [34]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
new_dict = {}
for d in (dic1, dic2, dic3): 
    new_dict.update(d)
print(new_dict)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [36]:
# write your answer here
t = input("Enter the elements of tuple (seperated by comma ','): ")
x = input("Enter a charater/number: ")
print(x in t)

Enter the elements of tuple (seperated by comma ','): e,x,e,r,c,i,s,e,due,9,/,2,/,2,0,2,1
Enter a charater/number: 10
False

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [45]:
# write your answer here
set_num = input("Enter a set of number (seperated by space): ")
set  = set_num.split()
min_value = min(set)
max_value = max(set)
print("Minimun value in set: ", min_value)
print("Maximum value in set: ", max_value)

Enter a set of number (seperated by space): -6.5 0 10 11.5 12 -4
Minimun value in set:  -4
Maximum value in set:  12

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
           'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']

In [0]:
# write your answer here
input random
studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']
group = []

for i in range(6)
    group.append(random.randint(4,6))
    
for i  in range(6)
    if sum(group)!= len(studnet_list):
        if group[i]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [77]:
# write your answer here
def find_duplicate(arr_num):
    n = len(arr_num)
    duplicate = []
    for i in range(n):
        k = i + 1
        for j in range(k, n):
            if arr_num[i] == arr_num(j) and arr_num[i] not in duplicate:
                duplicate.append(arr_num[i])
    return -1
            
     
arr = [1,2,3,4,4,5]
print(find_duplicate(arr))

TypeError: 'list' object is not callable

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [76]:
# write your answer here
from datetime import date, timedelta

Year= int(input("enter a year: "))
def all_sundays(Year):
       dt = date(Year, 1, 1)    
       dt += timedelta(days = 6 - dt.weekday())  
       while dt.year == Year:
          yield dt
          dt += timedelta(days = 7)
            
for s in all_sundays(Year):
    print(s)

enter a year: 2020
2020-01-05
2020-01-12
2020-01-19
2020-01-26
2020-02-02
2020-02-09
2020-02-16
2020-02-23
2020-03-01
2020-03-08
2020-03-15
2020-03-22
2020-03-29
2020-04-05
2020-04-12
2020-04-19
2020-04-26
2020-05-03
2020-05-10
2020-05-17
2020-05-24
2020-05-31
2020-06-07
2020-06-14
2020-06-21
2020-06-28
2020-07-05
2020-07-12
2020-07-19
2020-07-26
2020-08-02
2020-08-09
2020-08-16
2020-08-23
2020-08-30
2020-09-06
2020-09-13
2020-09-20
2020-09-27
2020-10-04
2020-10-11
2020-10-18
2020-10-25
2020-11-01
2020-11-08
2020-11-15
2020-11-22
2020-11-29
2020-12-06
2020-12-13
2020-12-20
2020-12-27